.hero-section {
    background: linear-gradient(#0000007e, #0000007e), url('../../assets/images/hero-section.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}